<p id="notice"><%= notice %></p>

<h1>Events</h1>
<% @events.each do |event| %>

  <% if event.status === 'accepted' %>
<h2>Les évènements à venir</h2>
  <table class="table table-striped">

  <tbody>

    <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <%= event.title %> <br><%= link_to 'Voir évenement', event_path(event.id) %>
        <%= link_to 'Refuser', event, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
        
        

        </button>
        
      </h5>
      
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
     
      <scope="col">Titre: <%= event.title %><br>
      <scope="col">Date: <%= event.date %><br>
      <scope="col">Adresse: <%= event.adress %><br><br>
      <scope="col">Description:<br> <%= event.description %><br>
      <scope="col">Image: <%= image_tag event.image_url, height: 200 if event.image %><br>
   
      </div>
    </div>
  </div>
</div>

    
  </tbody>
</table>
  <% else %>

  <% end %>
  <p>_________________</p>

 <% if event.status === 'proposed' %>
<h2>Les évènements proposés</h2>
  <table class="table table-striped">

  <tbody>

    <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <%= event.title %> <br><%= link_to 'Voir évenement', event_path(event.id) %>
        <%= link_to 'Refuser', event, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
        <%=  link_to 'Accepter', event, method: :validate %>

        <%=  link_to 'Je participe', event, method: :participate, :class => "btn btn-success" %>
        <% @event.participate %>
        <%=  link_to 'Peut-être', event, method: :validate, :class => "btn btn-warning" %>
        <%=  link_to 'Je ne participe pas', event, method: :validate, :class => "btn btn-danger" %>
        </button>
        
      </h5>
      
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
     
      <scope="col">Titre: <%= event.title %><br>
      <scope="col">Date: <%= event.date %><br>
      <scope="col">Adresse: <%= event.adress %><br><br>
      <scope="col">Description:<br> <%= event.description %><br>
      <scope="col">Image: <%= image_tag event.image_url, height: 200 if event.image %><br>
   
      </div>
    </div>
  </div>
</div>
  </tbody>
</table>
  <% end %>
<% end %>

<br>


<%= link_to 'New Event', new_event_path %>
